/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes sparksOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  from {
    translate: 0;
  }
  to {
    translate: 4px;
  }
}
.card__icon-button:hover .core {
  fill: var(--heart-color);
  transition: fill 0.3s ease;
}
.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: fill 0.9s ease;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-color);
  transition: fill 0.6s ease;
}
.card__icon-button:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 1.3s ease;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.5s ease;
}
.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.6s ease;
}
.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
  transition: fill 0.6s ease;
}

.like-icon.is-liked .sparks {
  animation: sparksOpacity 0.5s ease alternate 0.3s;
}

.like-icon.is-liked .heart {
  animation: pulse 0.3s ease alternate 0.3s;
  transform-origin: center;
}
