/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: var(--main-weight);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin-block: 100px;
  padding-inline: 14px;
  padding-block: 120px 21px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  margin-inline: clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem);
}

.header__title{
color: var(--text-color);
font: 400 clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem) var(--accent-font);
line-height: normal;
text-transform: uppercase;
text-align: center;
margin-block-end: 20px;
}

.header__subtitle{
color: var(--text-color);
font: 400 clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem) var(--accent-font);
line-height: normal;
text-transform: uppercase;
margin-block-end: 25px;
text-align: center;
}

.theme-menu__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.theme-menu__button{
  color: var(--text-color);
font-family: var(--accent-font);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
background: transparent;
border: none;
padding: 0;
margin: 0;
display: inline-flex;
gap: 3px;
}

.theme-menu__button:disabled,
.theme-menu__button:disabled::before{
opacity: .6;
}

.theme-menu__button:disabled::before{
  content: '▶';
  display: block;
  inline-size: 16px;
  block-size: 13px;
  animation: bounce .5s ease-in-out infinite alternate;;
}

@keyframes bounce {
  from{
    translate: 0;
  }
  to{
    translate: 4px;
  }
}

.card{
  background-color: var(--bg-color);
  margin-inline:clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem) ;
  border: 2px solid var(--accent-color);
  position: relative;
}

.card__title{
  color: var(--text-color);
  font: 18px var(--main-font);
  font-weight: var(--accent-weight);
  line-height: normal;
  padding-block: 5px 5px;
  padding-inline: 12px;
}

.card__watermark{
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  right: 11px;
  font-family: var(--accent-font);
  top: 77px;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 0.5px #fff;
  opacity: .5;
}
.card__image{
  inline-size: 100%;
  object-fit: cover;
  object-position: right;
  margin-block-end: 21px;
  min-block-size: 375px;
}

.card__description{
  font: 18px var(--main-font);
  color: var(--text-color);
  padding-inline: 25px;
  margin-block-end: 26px;
  line-height: 116%;
}

.card__icon-button{
  border: none;
  background-color: transparent;
}

.card__button-container{
  display: flex;
  justify-content: end;
  padding-inline-end: 25px;
  margin-block-end: 21px;
}
.card__like-button{
  padding-inline: 17px;
  padding-block: 9px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  background-color: transparent;
  min-inline-size: 130px;  
  max-block-size: 38px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 90%;
}

.is-liked{
  color: red;
}

