/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", arial, sans-serif;
  --accent-font: "PressStart2P-Regular", arial, sans-serif;
  --main-weight: "wght" 400;
  --accent-weight: "wght" 700;
  --bg-color: #fff;
  --bg-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --accent-color: #000;
  --text-color: #000;
  --heart-color: #000;
  --like-btn-color: #fff;
  --heart-fill-color: #ff0000;
}
